*{
    margin: 0px;
    padding: 0px;
}

.principalContainer{
    background-color: lightgray;
    width: 100%;
    }

header{
    background-color: maroon;
    width: 100%;
    height:100px;
    min-width: 760px;
}


.logo img{
    height: 70px;
    width: 80px;
}

ul li{
    padding: 0px;
    margin-left: 5px;
    list-style: none;
    float:left

}

nav a{

    width: 100%;
    padding:10px;
    text-align: left;
    overflow: auto;
    line-height: 80px;
    color:rgba(212, 210, 210, 0.89);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover{
    text-transform: uppercase;
    color:white;
}


@media screen and(min-width:750px) {
    header nav {
        width:80%;
        height:100%;
        margin:0px;
        position: fixed;
    }

    header nav ul li{
        display: blok;
        float: none;
        border-bottom:1px solid rgba(255,255,255, .3);
    }

}

.clearfix{
    clear:both;
  }

.sectionCarousel{
background-color: rgb(122, 57, 57);
min-height: 450px;
max-height:450px;
width:100%;
padding-left: 10%;
padding-right: 10%;
min-height: 450px;
max-height: 450px;
}

.Separador{
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom,rgb(122, 57, 57),rgba(110, 78, 25, 0.83));
}

.SectionPresenacion{
  min-height: 450px;
  max-height:450px;
  width:100%;
  background-color: rgba(110, 78, 25, 0.83);
}

.SectionPresenacion img{
  width: 80%;
  height: 450px;
  padding-left: 10%;
  padding-right: 10%;


}

.Container-text-Presentacion{
  margin-top: 300px;
  position: relative;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(149, 149, 149, 0.6);
}

.Container-text{
  position: relative;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(149, 149, 149, 0.6);
}

.carousel-item img{
width: 100%;
height: 100%;
min-height: 450px;
max-height:450px;
object-position: middle;

}

h5{
text-size:25px;
}

p{
color:white;
text-size: 14px;

}
